* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

#mainheader {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainlist {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

#actions {
  margin: 0 50px 0 0;
}

#mainheader font {
  font-family: SourceHanSansCN-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  color: #3d3d3d;
  cursor: pointer;
}

#mainheader font:hover {
  color: #ff8200;
}
